# Nginx noscript filter - Managed by Ansible

[Definition]
failregex = ^<HOST> -.*GET.*(\.php|\.asp|\.exe|\.pl|\.cgi|\.scgi)
            ^<HOST> -.*POST.*(\.php|\.asp|\.exe|\.pl|\.cgi|\.scgi)

ignoreregex = 